{% extends "_base.html" %}
{% load static %}
{% block title %}
Сброс пароля
{% endblock %}

{% block meta %}
<style>
{#label {#}
{#    float:left;#}
{#    clear:both;#}
{#    color:#333;#}
{#    margin-bottom:4px;#}
{#\}#}
{#input, textarea, form>a {#}
{#    clear:both;#}
{#    float:left;#}
{#    margin:0 0 10px;#}
{#    background:#ededed;#}
{#    border:0;#}
{#    padding:6px 10px;#}
{#    font-size:12px;#}
{#\}#}
{##}
{#form>ul {#}
{#    max-width: 500px;#}
{#    clear:both;#}
{#    float:left;#}
{#    margin:0 50px  10px;#}
{#    border:0;#}
{#    padding:6px 10px;#}
{#    font-size:12px;#}
{#\}#}
{##}
{#input[type=submit] {#}
{#    font-weight:bold;#}
{#    background:#00abff;#}
{#    color:#fff;#}
{#    padding:10px 20px;#}
{#    font-size:14px;#}
{#    text-transform:uppercase;#}
{#\}#}
{#.errorlist {#}
{#    color:#cc0033;#}
{#    float:left;#}
{#    clear:both;#}
{#    padding-left:10px;#}
{#\}#}
table {
    max-width: 600px;
}
th {
    vertical-align: top;
}

</style>
{% endblock %}

{% block base_content %}
    <div class="container">
        <h1>Сброс пароля</h1>
        {% if validlink %}
        <p>Введите новый пароль дважды</p>
        <form action="." method="post">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
                </table>
            <p><input type="submit" class="btn btn-success" value="Сохранить">
        </form>
        {% else %}
            <p>Ваша ссылка для сброса пароля не верна, возможно эта ссылка уже использовалась ранее</p>
            <p>Пожалуйста <a href="{% url 'password_reset'%}">запросите</a> новую ссылку.</p>
        {% endif %}
    </div>
{% endblock %}
