{% extends "registration/_registration_base.html" %}
{% load static %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
    <h1>Забыли пароль?</h1>
    <p class="mr-3">Введите свой email для получения ссылки на восстановление пароля</p>
    <form action="." method="post">
        {% csrf_token %}
        <table>
            <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
{#        {{ form.as_table }}#}
            </table>
        <input type="submit" class="fadeIn third"  value="Сменить"><br>
    </form>
    <div id="formFooter">
        <a class="underlineHover" href="{% url 'login' %}">Отмена</a><br>
{#        <a class="underlineHover" href="{% url 'home' %}">Вернуться на главную</a>#}
    </div>

{% endblock %}
