#search_btn {
	border-radius: 30px;
}

#search_group {
	margin-left: -32px;
	height: 30px
}

#search_btn {
	border: none;
	border-radius: 40px
}


.user-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /*align-self: flex-start; */
    object-fit: cover;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.navbar{padding:0} /* убираем стандартные отступы */
.navbar-light .navbar-nav .nav-link {

	font-weight: 600;
}

.image {
	/*border-radius: 10px;*/
	border: 0;
	border: #0d0d0d;
	/*border-bottom: groove;*/
}

.rating-result {
	width: auto;
	margin: 0 auto;
}

.rating-result span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
	content: '★';
}

.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.rating-result b {
	padding: 0;
	font-size: 25px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.rating-result > b.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}



.green {
	color: #30c247;
	font-size: 18px;
	font-weight: 300;
}
