<div class="navbar navbar-expand-lg navbar-light"> <!-- style="background-color:#e3f2fd;"> -->
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            {#        <a class="navbar-brand" href="{% url "home" %}">HandMade Gifts</a>#}
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {% if section == 'home_page' %} active {% endif %}">
                    <a class="nav-link" href="{% url "home" %}">Домашня старица<span
                            class="sr-only">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if section == 'favorites' %} active {% endif %}"
                           href="{% url 'favorites' %}">Избранное</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if section == 'cart' %} active {% endif %}"
                           href="{% url 'cart' %}">
                            Корзина (
                            <span id="cart-count">
                                {% with total_items=cart|length  %}
                                    {% if total_items > 0 %}
                                        {{ total_items }}
                                    {% else %}
                                        0
                                    {% endif %}
                                {% endwith %}
                            </span>)
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if section == 'orders' %} active {% endif %}"
                           href="{% url 'orders' %}">Заказы</a>
                    </li>
                {% endif %}
            </ul>
            <div class="nav-item" style="margin: auto">
                <form class="form-inline my-2 my-lg-0" action="{% url 'home' %} ">
                    <div class="input-group mb-3 mt-2">
                    <input class="form-control" type="search" name="search" placeholder="Поиск" aria-label="Search"
                            aria-describedby="search_btn" id="search_btn" style="">
                    <div class="input-group-append mt-1" id="search_group" style="">
                        <button class="btn btn-sm btn-outline-success" type="submit" id="search_btn" style="">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
{#                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>#}

{#                    <div class="input-group mb-3">#}
{#                        <input type="text" class="form-control" placeholder="Recipient's username"#}
{#                               aria-label="Recipient's username" aria-describedby="button-addon2">#}
{#                        <div class="input-group-append">#}
{#                            <button class="btn btn-outline-secondary" type="button" id="search_btn">Button</button>#}
{#                        </div>#}
                    </div>
                </form>
            </div>

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Привет,
                    {% if request.user.is_authenticated %}
                        {{ request.user.first_name }}!
                    {% else %}
                        Гость!
                    {% endif %}
                </a>

                {% if request.user.is_authenticated %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'dashboard' %}">Личный кабинет</a>
                        <a class="dropdown-item" href="{% url 'cart' %}">Корзина</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                    </div>
                {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                        <a class="dropdown-item" href="{% url 'login' %}">Логин</a>#}
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#login-dialog">Логин</button>
                        <a class="dropdown-item" href="#">Регистрация</a>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
    </nav>
