{% extends "_base.html" %}
{% load static %}
{% load math %}

{% block title %}
    Корзина
{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/style_cart.css' %}">
{% endblock %}

{% block content %}
    <div class="ui-32">

        <div class="container-fluid">


            <!-- View Cart -->
            <!-- View Cart Starts -->
            <div class="ui-view-cart">
                <!-- Heading -->
                <h5>View Cart</h5>
                <hr>

                <!-- Table Responsive -->
                <div class="table-responsive">
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <!-- Header -->
                            <!-- ID -->
                            <th>#</th>
                            <!-- Image -->
                            <th>Image</th>
                            <!-- Product Name -->
                            <th>Наименование</th>
                            <!-- Price -->
                            <th>Цена</th>
                            <!-- Quantity -->
                            <th>Количество</th>
                            <!-- Total Price -->
                            <th>Итого</th>
                            <!-- Action -->
                            <th class="text-center">Удалить</th>
                        </tr>
                        {% for product in cart %}
                            <tr>
                                <!-- Data -->
                                <!-- ID -->
                                <td id="num_loop">{{ forloop.counter }}</td>
                                <!-- Image -->
                                <td><a href="#"><img src="{{ MEDIA_URL }}{{ product.item.get_photo_url }}" alt=""
                                                     style="max-width: 50px"></a></td>
                                <td>
                                    <!-- Product Name -->
                                    <h6><a href="#">{{ product.item.title }}</a></h6>
                                </td>
                                <!-- Price -->
                                <td class="lblue">₽{{ product.item.get_raw_price_with_discount }}</td>
                                <!-- Quantity -->
                                <td>
                                    <div class="input-group mb3">
                                        {#                                        <input type="text" class="form-control" value="{{ product.quantity }}">#}
                                        <form action="{% url 'add_to_cart' %}" method="post">
                                            <div class="input-group mb-3">
                                                {{ product.update_quantity_form.quantity }}
                                                <div class="input-group-append">
                                                    <button type="submit" class="form-control btn btn-sm" value=""
                                                            title="Обновить">
                                                        <i class="fa fa-refresh" aria-hidden="true">
                                                        </i>
                                                    </button>
                                                </div>
                                            </div>
                                            {{ product.update_quantity_form.update }}
                                            <input type="text" name="id" value="{{ product.item.id }}" hidden>
                                            <input type="text" name="url_from" value="cart" hidden>
                                            {% csrf_token %}

                                        </form>

                                        <span class=""
                                              style="font-size: 18px; margin-left: 10px; font-weight: 300; padding: 5px 10px;">
                                            {{ product.item.quantity_unit }}
                                        </span>
                                    </div>
                                </td>
                                <!-- Total Price -->
                                <td class="green">
                                    ₽{% multiply product.quantity product.item.get_raw_price_with_discount %}</td>
                                <!-- Action -->
                                <td class="text-center" data-id="{{ product.item.id }}">
                                    <a href="#" class="cross remove-from-cart" data-toggle="tooltip"
                                       data-id="{{ product.item.id }}"
                                       data-placement="top"
                                       title="" data-original-title="Remove">X</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan=5 style="text-align: left"><strong><h4>Total</h4></strong></td>
                            <td colspan=2 class="red">₽{{ full_coast }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="input-group">
            <a href="{% url 'home' %}" class="btn btn-primary ml-5"> Вернуться к покупкам </a>
        {% if cart %}
            <a href="{% url 'cart_clear' %}" class="btn btn-danger ml-5">Очистить корзину</a>
            <a href="{% url 'create_order' %}" class="btn btn-success ml-5">Оформить заказ</a>        
        {% endif %}            
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/stepper.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".ui-view-cart td > a.cross").click(function (e) {
                e.preventDefault();
                const id = $(this).data("id");
                if (remove_from_cart(id) === 1) {
                    $(this).parents("tr").fadeOut(300);   //FadeOut Entire Row
                }
            });

        });

        <!-- ToolTip -->
        $(function () {
            $('.ui-view-cart a.cross').tooltip();  //Tooltip
        });


        <!-- Cart Dropdown -->
        $(document).ready(function () {
            var hidden = true;     //Display None

            <!-- Cart -->
            $(".ui-cart a").click(function (e) {   //OnClick
                e.preventDefault();
                if (hidden) {
                    $(".ui-dd").fadeIn(500, function () {
                        hidden = false;
                    });    //FadeIn and Visible
                }
            });

            <!-- Html -->
            $("html").click(function () {   //On Html Click
                if (!hidden) {
                    $(".ui-dd").fadeOut();   //Fade Out
                    hidden = true;
                }
            });

            <!-- Dropdown -->
            $(".ui-dd").click(function (event) {    //Dropdown Item click
                event.stopPropagation();
            });
        });

    </script>
{% endblock %}