<!-- Cart Dropdown -->
<h5>Cart Dropdown</h5>
<hr>

<br>

<!-- Cart Dropdown Starts -->
<div class="ui-cart-dd">
    <!-- Cart -->
    <div class="ui-cart">
        <a href="#">
            <i class="fa fa-shopping-cart cart-icon lblue"></i>
            <!-- Para -->
            <span>View your shopping cart &nbsp;<i class="fa fa-caret-down"></i></span>
        </a>
    </div>
    <!-- Dropdown -->
    <div class="ui-dd" style="display: block;">
        <!-- Arrow Up -->
        <div class="arrow-up"></div>
        <!-- Dropdown Item -->
        <div class="ui-dd-item">
            <!-- Dropdown Header -->
            <div class="ui-dd-header">
                <!-- Product name -->
                <h5><a href="ui-32.html#">Micromax</a></h5>
                <!-- Price -->
                <span>$1,200</span>
            </div>
            <!-- Dropdown Quantity -->
            <div class="ui-dd-quantity">
                <!-- Quantity -->
                <div class="stepper "><input type="number" min="1" max="20" value="2"
                                             class="quantity stepper-input"><span
                        class="stepper-arrow up">Up</span><span
                        class="stepper-arrow down">Down</span></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Dropdown Item -->
        <div class="ui-dd-item">
            <!-- Dropdown Header -->
            <div class="ui-dd-header">
                <!-- Product name -->
                <h5><a href="ui-32.html#">Samsung Galaxy</a></h5>
                <!-- Price -->
                <span>$1,000</span>
            </div>
            <!-- Dropdown Quantity -->
            <div class="ui-dd-quantity">
                <!-- Quantity -->
                <div class="stepper "><input type="number" min="1" max="20" value="2"
                                             class="quantity stepper-input"><span
                        class="stepper-arrow up">Up</span><span
                        class="stepper-arrow down">Down</span></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Dropdown Item -->
        <div class="ui-dd-item">
            <!-- Dropdown Header -->
            <div class="ui-dd-header">
                <!-- Product name -->
                <h5><a href="ui-32.html#">Nokia Lumia</a></h5>
                <!-- Price -->
                <span>$2,000</span>
            </div>
            <!-- Dropdown Quantity -->
            <div class="ui-dd-quantity">
                <!-- Quantity -->
                <div class="stepper "><input type="number" min="1" max="20" value="10"
                                             class="quantity stepper-input"><span
                        class="stepper-arrow up">Up</span><span
                        class="stepper-arrow down">Down</span></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Dropdown Item -->
        <div class="ui-dd-item">
            <!-- Heading -->
            <strong>Total: $12,000</strong>
            <!-- Checkout Button -->
            <a href="ui-32.html#" class="btn btn-green btn-sm">Checkout</a>
            <!-- Open Cart Button -->
            <a href="ui-32.html#" class="btn btn-lblue btn-sm">Open Cart</a>
        </div>
    </div>
</div>
<!-- Cart Dropdown Ends -->