{% load mptt_tags %}

{#<nav class="navmenu navmenu-default" role="navigation">#}
{#<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}

<div id="dl-menu" class="dl-menuwrapper">
    <button class="dl-trigger">Категории</button>
    <ul class="dl-menu">
    {% recursetree nodes %}

        {% if not node.is_leaf_node %}
        <li>
            <a href='#'>{{ node.title }}</a>
            <ul class="dl-submenu">
                {{ children }}
            </ul>
        </li>
        {% else %}
        <li class="">
            <a href="/?cat_code={{ node.code }}">{{ node.title }}</a>
        </li>
        {% endif %}
    {% endrecursetree %}
    </ul>
</div>
